@import "tailwindcss";

@theme {
  --color-primary-50: #fef5ee;
  --color-primary-100: #fde9d7;
  --color-primary-200: #fbcfae;
  --color-primary-300: #f8af7a;
  --color-primary-400: #f48544;
  --color-primary-500: #f16420;
  --color-primary-600: #e24a16;
  --color-primary-700: #bb3614;
  --color-primary-800: #952d18;
  --color-primary-900: #782716;
}
